* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.traffic-lights {
  display: flex;
  margin: 50px;
}

.traffic-lights-wrapper {
  width: 200px;
  height: 75px;
  background-color: #fbf2e9;
  border: 1px solid #9d9b9a;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.light {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50px;
}

button {
  cursor: pointer;
  height: 75px;
  width: 60px;
  margin-left: 20px;
  border: 1px solid #9d9b9a;
  border-radius: 5px;
}

.red {
  background-color: #c70219;
}

.yellow {
  background-color: #ff9600;
}

.green {
  background-color: #00a843;
}

.off {
  background-color: #9d9b9a;
}
