.traffic-light {
    height: 100px;
    width: 300px;
    background-color: #FBF2E9;
    border: 2px solid #8A8A8A;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.traffic-light__light {
    height: 75px;
    width: 75px;
    background-color: #8A8A8A;
    border-radius: 50%;
}

body {
    display: flex;
}

.btn-traffic-light {
    height: 100px;
    width: 75px;
    background-color: #E1E1E1;
    text-align: center;
    border-radius: 10px;
}